body {
    margin: 0 150px;
    margin-bottom: 50px;
    padding: 0;
    background-color: #57b2f8;
}

.question__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.sg-logo__image {
    width: 200px;
}

.question__carousel {
    background-color: #ddf7e5;
    overflow: hidden;
    height: 450px;
    position: relative;
    display: flex;
    -webkit-box-shadow: 1px -5px 259px 20px rgba(255, 255, 255, 1);
    -moz-box-shadow: 1px -5px 259px 20px rgba(255, 255, 255, 1);
    box-shadow: 1px -5px 259px 20px rgba(255, 255, 255, 1);
}

.question__items {
    position: relative;
    flex: 1;
    overflow: hidden;
    color: #fff;
}

.question__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    position: absolute;
    z-index: 2;
}

.question__item--last {
    visibility: hidden;
}

.question__header--first {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 80px;
}

.question__btn--first:hover {
    background-color: #434e66;
}



.question__header {
    margin-bottom: 40px;
}

.question__text {
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
}

.question__btn {
    margin: 0 10px;
}

.question__btn:hover {
    background-color: #57b2f8;
}

.question__btn--right {
    background-color: #53cf92;
}

.question__btn--wrong {
    background-color: #ff796b;
}

.question__timer {
    position: absolute;
    top: 30px;
    right: 30px;

}

.question__result {
    margin-bottom: 40px;
}

.message {
    position: absolute;
    transition: transform 1s;
    width: 100%;
    opacity: 0;
    z-index: -1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff5d5;
}

.message__cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.message__text {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message__about {
    font-size: 18px;
    color: #000;
    text-align: center;
}

.message__who {
    height: 230px;
    width: 230px;
    margin-right: 20px;
}

.message__link {
    text-align: center;
    margin-top: 10px;
    color: #53cf92;
}

.message__btn {
    margin-top: 40px;
}
.question__btn--restart:hover {
    background-color: #53cf92;
}
.question__restart{
    color: #FFF;
}

@keyframes fadeIn {
    from {
        z-index: -1;
        opacity: 0;
    }
    to {
        z-index: 200;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        z-index: 200;
        opacity: 1;
    }
    to {
        z-index: -1;
        opacity: 0;
    }
}

.js-fadein {
    -webkit-animation: fadeIn 1s linear 0s 1 normal forwards;
    /* Safari 4+ */
    -moz-animation: fadeIn 1s linear 0s 1 normal forwards;
    /* Fx 5+ */
    -o-animation: fadeIn 1s linear 0s 1 normal forwards;
    /* Opera 12+ */
    animation: fadeIn 1s linear 0s 1 normal forwards;
    /* IE 10+, Fx 29+ */
}

.js-fadeout {
    -webkit-animation: fadeOut 1s linear 0s 1 normal forwards;
    /* Safari 4+ */
    -moz-animation: fadeOut 1s linear 0s 1 normal forwards;
    /* Fx 5+ */
    -o-animation: fadeOut 1s linear 0s 1 normal forwards;
    /* Opera 12+ */
    animation: fadeOut 1s linear 0s 1 normal forwards;
    /* IE 10+, Fx 29+ */
}

.backgroundimg--frog {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    z-index: 0;
}

.backgroundimg--hussar {
    position: absolute;
    right: 0px;
    bottom: 0;
    height: 210px;
    z-index: 0;
}

@media all and (max-width: 1200px) {
    .question__text {
        margin: 0 20px;
        margin-bottom: 40px;
    }
    body {
        margin: 0 100px;
        margin-bottom: 50px;
    }
}

@media all and (max-width: 800px) {
    body {
        margin: 0 80px;
        margin-bottom: 50px;
    }

}

@media all and (max-width: 700px) {
    body {
        margin: 0 40px;
        margin-bottom: 50px;
    }
    .message__feedback {
        margin-top: 20px;
        font-size: 40px;
    }
    .message__cont {
        flex-direction: column;
    }

    .message__who {
        order: -1;
        margin: 0;
        margin-bottom: 20px;
        height: 200px;
        width: 200px;
    }
    .message__btn {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .backgroundimg--frog {
        height: 150px;
    }
    .backgroundimg--hussar {
        height: 160px
    }
}

@media all and (max-width: 650px) {
    .message__feedback {
        font-size: 30px;
    }
    
}

@media all and (max-width: 600px) {
.question__header--first {
    font-size: 60px;
}
    .message__cont {
        margin-top: 10px;
    }
    .message__feedback {
        margin-top: 10px;
    }
}

@media all and (max-width: 550px){
    .question__options{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .question__btn{
        margin: 20px 0;
    }
    .message__feedback {
        font-size: 30px;
    }
}

@media all and (max-width: 500px){
        .message__feedback {
        font-size: 25px;
    }
}

@media all and (max-width: 450px){
    .question__logo{
        margin: 20px 0;
    }
    .question__header--first {
    font-size: 40px;
}
    .question__text{
        margin: 10px 10px;
    }
    .question__header{
        font-size: 40px;
    }
    .message__who{
    height: 180px;
    width: 180px;
    }
    .message__feedback{
        font-size: 20px;
    }
    .backgroundimg--frog {
        height: 130px;
    }
    .backgroundimg--hussar {
        height: 140px
    }

    
}
@media all and (max-width: 350px){
.question__text{
        font-size: 20px;
    }
    
    .message__about{
        font-size: 15px;
    }
    .backgroundimg--frog {
        height: 100px;
    }
    .backgroundimg--hussar {
        height: 110px
    }
    .message__who{
    height: 150px;
    width: 150px;
    }
    
@media all and (max-width: 320px){
    .question__header--first{
            font-size: 30px;
    }
    .question__header{
        font-size: 30px;
    }
    .question__btn{
        font-size: 13px;
    }
    .message__feedback{
        font-size: 15px;
    }
    }

